{% include 'header.html' %}

<body>
    <footer>
        <h3 class="footer-title">DAILY JOURNAL PROMPT GENERATOR</h3>
        <p class="footer-body"><em>Created with you the user in mind, for daily use and reflection. These prompts are free for your consumption
           <br> These prompts cannot be used for commercial purposes without written permission from the owner.</em>
        </p>
        <div class="social-icons-footer">
        <a href="https://twitter.com/NdukweElla">
            <i class="fa-brands fa-twitter fa-2x footer-icon"></i>
        </a>
         <a href="mailto:ellamoves01@gmail.com">
            <i class="fa-solid fa-envelope fa-2x footer-icon"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram fa-2x footer-icon"></i>
        </a>
        <a href="https://www.fiverr.com/eeellarh/give-you-my-ebook-on-journal-prompts-for-personal-development">
            <img src="static/fiverr.png" class="fiverr-icon">
        </a>
    </div>
        <div class="copyright">
            <p class="copyright">Copyright {{ current_year }} <strong><span> Journal Prompts Generator</span></strong>.
                <br> <em>All Rights Reserved</em></p>
      </div>
    </footer>
</body>