{% include 'header.html' %}
{% include 'navbar.html' %}

<body>
    <section id="journals">
        <h1 class="shop-title">SHOP QUALITY JOURNALS AND ACCESSORIES</h1>
        <p class="affiliate-disclosure"><em>This page contains affiliate links to products we use and trust. We earn a small commission when you make a purchase
        using any of the links. This helps keep the prompt generator going and more prompts added. Thank you for your support.</em></p>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/journal.jpg" class="image-content">
                    <p class="journal-description">Five Minute Journal for Gratitude, Reflection, Manifestation and Meditation. Easy to use. Five minutes a day.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3TmBfO1">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/journal1.jpg" class="image-content">
                    <p class="journal-description">Hardcover/Marble Cover Journal for writing and daily journaling</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3N0nHoR">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/ecolo.jpg" class="image-content">
                    <p class="journal-description">Ecolo Lined Notebook and Journal for Writing. Perfect for your daily writing and reflections.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3VRodK2">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/gratitude.jpg" class="image-content">
                    <p class="journal-description">Five minute daily gratitude journal. Journal what you are thankful for each day and live a life of happiness and thankfulness</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3SuPUpc">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/leather.jpg" class="image-content">
                    <p class="journal-description">Komal's passion leather journal. Durable, easy to use lined journal. Use for your daily journaling</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3StcfTR">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/ivory.jpg" class="image-content">
                    <p class="journal-description">Beautiful journal with ivory paper, handmade in Italy. Easy to travel with and very light.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3gvftsN">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/gratitude1.jpg" class="image-content">
                    <p class="journal-description">Gratitude Journal. A 52 week guide to cultivate an attitude of gratitude</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3sp7yjn">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/boss.jpg" class="image-content">
                    <p class="journal-description">Boss Bitch Plan: Journal and Notebook for female entrepreneurs and business owners.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3z92vHw">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/dotted.jpg" class="image-content">
                    <p class="journal-description">Dotted Journal with thick white paper for bullet journaling</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3D4oxfZ">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <h2>Journal Accessories</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/highlight.jpg" class="image-content">
                    <p class="journal-description">Cute aesthetic highlighters in different colors. Perfect for bullet journaling</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3TQG2XW">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/marker.jpg" class="image-content">
                    <p class="journal-description">Cute color markers. A must-have to unlock your artistic side</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3eXMu0j">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/sticker.jpg" class="image-content">
                    <p class="journal-description">550+ planner stickers. Great for the dotted journal.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3TKKOpI">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/tape.jpg" class="image-content">
                    <p class="journal-description">14 rolls of decorative and colorful washi tape.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3VTmMuB">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/bag.jpg" class="image-content">
                    <p class="journal-description">Storage bag for your journal, pens and other journaling accessories</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3sqSodq">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/laptop.jpg" class="image-content">
                    <p class="journal-description">Women's briefcase and laptop bag. Holds your laptop and accessories</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3TtBt5W">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/vintage.jpg" class="image-content">
                    <p class="journal-description">Vintage sticker pack for arts and crafts</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3VTOU0B">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/traveller.jpg" class="image-content">
                    <p class="journal-description">For the traveller, Journal inserts for extra pages. Blank page journal inserts.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3gEs9xP">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <h2>Recharge, Relax & Journal</h2>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/glasses.jpg" class="image-content">
                    <p class="journal-description">Drinking Glasses for your ice coffee and whipped cream</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3sqVSNk">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/mug.jpg" class="image-content">
                    <p class="journal-description">Beautiful ceramic latte coffee mug. Great for sightseeing, sipping and journaling</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3D2b0ph">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/candle.jpg" class="image-content">
                    <p class="journal-description">Set of 6 scented candles for Aromatherapy</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3SwstvI">Shop Now</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="content">
                    <img src="static/noise.jpg" class="image-content">
                    <p class="journal-description">Rose Gold noise-cancelling headphones.</p>
                    <div class="journal-button">
                        <button type="submit" class="btn btn-secondary button"><a class="shop" href="https://amzn.to/3D4DXAI">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% include 'footer.html' %}
